body {
    padding: 1rem;
    background-image: linear-gradient(0, #1e1952, #be2a34)
}

#app {
    border-radius: 5px;
    padding: 2rem;
    color: #fff;
    background: #497fa37d;
    font-family: "Quicksand", sans-serif;
    min-height: calc(100vh - 2rem);
    background-image: linear-gradient(90deg, #000, #070042ad);
}